/* Dark mode colors. */
:root {
  --sl-color-accent-low: #242423;
  --sl-color-accent: #6a6a67;
  --sl-color-accent-high: #c9c8c7;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e2efff;
  --sl-color-gray-2: #b4c4d7;
  --sl-color-gray-3: #708eb3;
  --sl-color-gray-4: #3e5a7c;
  --sl-color-gray-5: #1f3959;
  --sl-color-gray-6: #0d2746;
  --sl-color-black: #0d1927;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d7d7d6;
  --sl-color-accent: #6c6c69;
  --sl-color-accent-high: #333231;
  --sl-color-white: #0d1927;
  --sl-color-gray-1: #0d2746;
  --sl-color-gray-2: #1f3959;
  --sl-color-gray-3: #3e5a7c;
  --sl-color-gray-4: #708eb3;
  --sl-color-gray-5: #b4c4d7;
  --sl-color-gray-6: #e2efff;
  --sl-color-gray-7: #f1f7ff;
  --sl-color-black: #ffffff;
}
