/* Dark mode colors. */
:root {
  --sl-color-accent-low: #242424;
  --sl-color-accent: #6a6a6a;
  --sl-color-accent-high: #c8c8c8;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #d4f4ff;
  --sl-color-gray-2: #3fd5ff;
  --sl-color-gray-3: #009bbd;
  --sl-color-gray-4: #006279;
  --sl-color-gray-5: #003f4f;
  --sl-color-gray-6: #002c38;
  --sl-color-black: #001c24;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #d7d7d7;
  --sl-color-accent: #6b6b6b;
  --sl-color-accent-high: #323232;
  --sl-color-white: #001c24;
  --sl-color-gray-1: #002c38;
  --sl-color-gray-2: #003f4f;
  --sl-color-gray-3: #006279;
  --sl-color-gray-4: #009bbd;
  --sl-color-gray-5: #3fd5ff;
  --sl-color-gray-6: #d4f4ff;
  --sl-color-gray-7: #eaf9ff;
  --sl-color-black: #ffffff;
}
